<!DOCTYPE html>
{% load static %}
 <html lang="en">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <title>Home</title>
   <!--<link rel="stylesheet" href="{%static "css/basic.css" %}">-->
   <style>
   .navbar-brand
  {
      position: relative;

      float: left;
      padding: 5px 5px;
      font-size: 19px;
      line-height: 21px;
      height: 62px;
      max-width: 220px;
      display: table;

      /*height: auto;*/
      width: auto;
      max-height: 72px;
      /*max-width: 250px;*/
  }
  body{
    background: black;

/* Center and scale the image nicely */

background-repeat: no-repeat;
background-size: cover;

  }
   .centered {
  position: absolute;
  top: 100%;
  left: 100%;

}
</style>

 </head>
 <body>
     <nav class="navbar navbar-inverse" role="navigation">
         <div class="container-fluid">
           <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color:white"><i class="fa fa-bars" style="font-size:80px;"></i>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
              <a class="navbar-brand" href="/hello"> <img src="{%static "images/logo2.PNG" %}"></a>
            <!-- <a class="navbar-brand" href="/hello"><font size="+5"><b><em><i>KMNRPS<sub> Restaurant</sub></b></em></i></font></a>-->
           </div>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="/home">Home</a></li>
             <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/about">About Us<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/aboutres">About Restaurant</a></li>
          <li><a href="/aboutteam">About Team</a></li>

        </ul>
      </li>

             <li><a href="/menu">Menu</a></li>
             <!--<li><a href="/gallery">Gallery</a></li>-->

             <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>

         <ul class="dropdown-menu">
           <li><a href="/standupcomedy">Stand Up comedy</a></li>
           <li><a href="/liveconcert">Live Concert</a></li>
           <li><a href="/partynight">Party Night</a></li>
           <li><a href="/specialevent">Special events</a></li>
         </ul>
       </li>
             <li><a href="/contact">Contact</a></li>
             <li><a href="/reservation">Reservation</a></li>
             <li><a href="/orderonline">Order Online</a></li>
           </ul>
        </div>
       </nav>
    <marquee><h5 ><font size="+3" color="White"><i>WELCOME!.....KMNRPS Restaurant invites you to have a Delicious and Healthy Food</i></font><h5></marquee>
       <!--<h2 class="w3-center">KMNRPS</h2>-->

<center><h1 class="headline__primary"><b>BIRYANI</b>  ,  <i>Perfected</i></h1></center>
                                         <header id="post-276-title" class="article__header article__header--page full-height" data-type="image">
                                             <div class="article__parallax">
                                                 <img class="article__parallax__img" src="https://images.squarespace-cdn.com/content/v1/5c5c3833840b161566b02a76/1573133725500-Y5PCN0V04I86HDAT8AT0/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/WBC_7095.jpg?format=2500w" alt="Home &#8211; About"/ width="100%">
                                                  <div class="centered"><font size:="+3" color="Blue"><i>"You will feel like you have taken a tasty trip to Telanagana"</i></font></div>
                                             </div>
                                             <div class="flexbox">
                                                 <div class="flexbox__item">
                                                     <hgroup class="article__headline">
                                                         <h2 class="headline__secondary">
                                                             <span class="first-letter"></span>
                                                                         <center>"You&#039;ll feel like you&#039;ve taken a tasty trip to INDIA.”</center>
                                                         </h2>

                                                     </hgroup>
                                                 </div>
                                             </div>
                                         </header>
                                         <article id="post-276" class="article--page article--main article--subpage border-simple post-276 page type-page status-publish has-post-thumbnail hentry">
                                             <section class="article__content" >
                                                 <div class="container">
                                                     <section class="page__content js-post-gallery cf">
                                                         <p>&nbsp;</p>
                                                         <div class="pixcode pixcode--grid grid ">
                                                             <div class="grid__item six-twelfths palm-one-whole island">
                                                                 <hgroup class="pixcode pixcode--heading article__headline">
                                                                     <h2 class="headline__secondary"></h2>
                                                                     <center><h1 class="headline__primary">KMNRPS Restaurant</h1></center>
                                                                 </hgroup>
                                                                 <p>&nbsp;</p>
                                                                 <p style="text-align: left;">With its rustic interior, pops of bright color and welcoming atmosphere, KMNRPS is a restaurant in the heart of Jagitial that encapsulates the vibrant culinary culture of Telangana. Visitors will feel as though they have strolled right off the streets of Tealangana and into an authentic neighborhood  place.
                                                                 </p>

                                                         </section>
                                                     </div>
                                                 </section>
                                             </article>
                                              </body>
 </html>
